{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    .errorlist{
        color:black;
        list-style-type: none;
        list-style-position: outside;
        text-transform: capitalize;
    }

input{
    width: 50vw;
    border-style: none none solid none;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.747);
}
fieldset{
    background: linear-gradient(yellow,red);
    padding: 20px;
}
body{
    background-color: azure;
}
</style>
{% endblock %}
{% block body %}
<fieldset class="container text-center">
    <h1>Login</h1>
    <hr>
<form action="{% url 'acc_login' %}" method="POST">
    {% csrf_token %}
    {{form.non_field_errors}}
    {% for field in form %}
    <p>
    {{field}}
    {{field.errors}}
    </p>
    <hr>
    {% endfor%}
    {% if messages %}
    {% for m in messages %}
    <h4>{{m}}</h4>
    <hr>
    {% endfor%}
    {% endif%}
    <input type="submit" value="Login" style="width:50vw;" class="btn btn-success"/>
    <hr>
</form>
<p><h3>Don't  have account? <a href="{% url 'acc_signup' %}" style="color: blue;">Signup</a></h3></p>
</fieldset>
{% endblock%}